name: Tests for GitHub Actions

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: Choose target
        required: true
        default: all
        type: choice
        options:
          - all
          - change
          - check
          - http
          - api
          - database
          - ui
          - rozetka

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: setup Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          install-chromedriver: true
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: change
        if: "github.event.inputs.deployment_target == 'change'"
        run: pytest -v -m change
      - name: check
        if: "github.event.inputs.deployment_target == 'check'"
        run: pytest -v -m check
      - name: http
        if: "github.event.inputs.deployment_target == 'http'"
        run: pytest -v -m http
      - name: api
        if: "github.event.inputs.deployment_target == 'api'"
        run: pytest -v -m api
      - name: database
        if: "github.event.inputs.deployment_target == 'database'"
        run: pytest -v -m database
      - name: ui
        if: "github.event.inputs.deployment_target == 'ui'"
        run: pytest -v -m ui
      - name: rozetka
        if: "github.event.inputs.deployment_target == 'rozetka'"
        run: pytest -v -m rozetka
      - name: all
        if: "github.event.inputs.deployment_target == 'all'"
        run: pytest -v